.Navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 70px; */
    background-color: #111827;
    padding: 20px 20px;
    /* border-radius: 15px 15px 0px 0px; */
}

img{
    height: 40px;
    width: 40px;
}

.navbar-sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navbar-sec-1 h4{
    color: #8D80D1;
    font-weight: 800;
    font-size: 20px;
}

.navbar-sec-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 20px;

    h4{
        color: white;
    }

    button{
        font-size: 20px;
        padding: 8px 30px;
        border-radius: 12px;
        color: white;
        background-color: #4F46E5;
        border-color: #8D80D1;
    }
}

.navbar-sec-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    input{
        width: 20vw;
        height: 4vh;
        font-weight: 700;
        font-size: 18px;
        border-radius: 20px;
        background-color: #F4F2FA;
        padding: 25px;
    }
}

/* button{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    background-color: #4F46E5;
    border-color: #8D80D1;
} */

/* input{
    width: 16vw;
    height: 4vh;
    border-radius: 20px;
    background-color: #F4F2FA;
} */